* {
 box-sizing: border-box;
}

body {
 justify-content: center;
 background-color: #1E1E2E;
 margin: 0;
 padding: 10px;
}

#imageViewer {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #1E1E2E;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
}

#largeImage {
 max-width: 90%;
 max-height: 80%;
 object-fit: contain;
}

#backBtn {
 align-self: flex-start;
 margin-left: 20px;
 padding: 10px 20px;
 cursor: pointer;
 background-color: rgb(8, 31, 50);
 color: #f3f3f6;
 border-radius: 10px;
}

.images {
 justify-content: center;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}

section img {
 width: 250px;
 height: 250px;
 border-radius: 12px;
 object-fit: cover;
 cursor: pointer;
 transition: transform 0.3s ease;
}

.images img:hover {
 transform: scale(1.05);
}

.navigation {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
}

.navigation button {
 padding: 10px 15px;
 cursor: pointer;
 border-radius: 10px;
}

@media (max-width: 600px) {

 section img {
  width: 150px;
  height: 150px;
 }

 .navigation {
  gap: 10px;
 }

 #largeImage {
  max-width: 70%;
  max-height: 70%;
 }

}